body 
{
  color: #333333;
  background-color: #FAFAFA;
}

.main 
{
  width: 100%;
  text-align: center;
  margin-top: 70px;
}

.main h1 
{
  font-family: futura, 'Gibson', sans-serif, futura, helvetica, arial, sans-serif;
  font-weight: bold;
  font-size: 96px;
}

.main h1 a 
{
  color: #08392B;
  text-decoration: none;
}

.description
{
  font-size: 16px;
  color: #888888;
}

.separator
{
  margin: auto;
  padding-top: 20px;
  width: 50%;
  border-bottom: 1px solid #EAEAEA;
}
