body 
{
  color: #333333;
  background-color: #FAFAFA;
}

.title 
{
  width: 100%;
  text-align: center;
  margin-top: 70px;
}

.title h1 
{
  font-family: futura, 'Gibson', sans-serif, futura, helvetica, arial, sans-serif;
  font-weight: bold;
  font-size: 96px;
}

#title h1 a 
{
  color: #444444;
  text-decoration: none;
}

.description
{
  font-size: 16px;
  color: #888888;
}
